@charset "UTF-8";

html {
	font-family: sans-serif;
}
h1, h2 {
	margin: 10px 15px;
	padding: 3px;
}

body, div, section, article, p, img {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 5px 10px;
	border: none;
	outline: none;
}

.content {
	width: 80%;
	margin: 15px auto;
}

.panel {
	width: 80%;
	margin: 15px;
	display: none;
}

.btn {
  background: #3498db;
  background-image: linear-gradient(to bottom, #31bd31, #2ca344);
  border-radius: 14px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #60ed39;
  background-image: linear-gradient(to bottom, #60ed39, #34d93f);
  text-decoration: none;
}
